# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
firmware/AzureDemo_WFI32-IoT.X/build/
firmware/AzureDemo_WFI32-IoT.X/debug/
firmware/AzureDemo_WFI32-IoT.X/.generated_files
firmware/AzureDemo_WFI32-Curiosity.X/build/
firmware/AzureDemo_WFI32-Curiosity.X/debug/
firmware/AzureDemo_WFI32-Curiosity.X/.generated_files
**/nbproject/private
**/nbproject/Makefile-*
**/nbproject/Package-*
 
# Backup files
*.bak
